* {
	margin: 0;
	padding: 0;
}

body{
	background-color: #000;
}

.navbar{
	margin-bottom: 0px;
}
.content-nav{
	color: #00BCD4;
	font-size: 2em;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;

}
.slogan{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 3em;
	color: #FFFFFF;	
}
.btn-material{

	color: #FFFFFF;
    background-color: #FF4180;
    border-color: #FFFFFF;
}
.btn-material:hover{

	color: #FFFFFF;
    background-color: #ea3e77;
    border-color: #FFFFFF;
}




/*Services Section*/

.services-section{
	width: 100%;
	margin-top: 8%;
}

#slides li .imgSlider {
	background-color: rgba(25, 25, 25, .7);
	opacity:.3;
}
#slides li{
	color:#FFFFFF;
	font-family: 'Ubuntu', sans-serif;
}


.slogans1{
	margin-top: 15%;
	text-align: center;
}