
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url(https://fonts.gstatic.com/s/raleway/v11/8KhZd3VQBtXTAznvKjw-k_k_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{
	background: #FFFFFF;
}
.menu{
	list-style: none;
	line-height: 42px;
	/*outline: 1px solid red; solo sirve para maketar*/
	/*font-family: 'raleway', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
	width:  100%;	
	margin-left:10px;
	padding: 0px;
}
.menuaside{
	background: #2196F3;
	/*outline: 1px solid red;*/
	/*height: 90vh;*/
	padding-bottom: 20px;
}
.menu a{
	color: black;
	text-decoration: none;
	/*text-transform: uppercase;*/
	display: block;
	width: 100%;
	font-size: 13px;
	/*font-weight: bold;	*/
	/*outline: 1px solid magenta;	*/
}
.menu >li >ul.sub-menu{
	list-style: none;
	margin-left: -20px;
}
.menu a:hover{
	margin-left: 30px;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	text-decoration: none;	
}

.menu li i{
	/*vertical-align: middle;*/
	padding-top: 8px;
	color: white;
	padding-right: 10px;
	
}
.menu li i.flecha{
	float: right;
	margin-right: 35px;

}
.menu li span#flecha{
	float: right;
	margin-right: 55px;
	vertical-align: middle;
	margin-top: 25px;
	font-size: 20px;
}
.menu li {
	box-shadow: 5px 0 rgba(0, 0, 0, 0.2) inset;
	margin-bottom: 5px;
	padding-left: 1.5em;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	width: 100%;
}

.menu li:hover {
  box-shadow: 20em 0 rgba(0, 0, 0, 0.2) inset;
}

.mostrar {
  display: none;
}


/*para quitar los padding  a las  tablas de bootstrap*/
.sinpadding [class*="col-"] {
    padding: 0;
}
footer{
	background: #2196F3;
	font-size: 1.2em;	
	text-align: center;
	width: 99%;
	height: 40px;
	bottom: 0;
	display: inline;
}
.tienda{
	background: #1976D2;  /*aca cambia color del fondo del logo de la tienda */
	padding: 9px;
	text-align: center;
	font-weight: bold;
	font-size: 1.4em;
}
#tienda a{
	text-decoration: none;
}
.tienda i{
	display: inline;
	vertical-align: middle;	
	font-size: 1.65em;
}
.tienda p{
	display: inline;
	vertical-align: middle;
	color: white;
	font-family: 'raleway', sans-serif;
}

.notificaciones{
	background: #2196F3;  /* aca cambia color del fondo de la barra de notificaciones */
	padding-left: 20px;	
	font-family: 'Ubuntu', sans-serif;
}
.icono-menu{
	padding: 8px;
}
.icono-menu .men{
	padding: 12px;
}


.notificaciones div.icono-menu{
	display: inline;
} 
.notificaciones div.icono-menu span{	
	display: inline;
	font-size: 2.2em;
	vertical-align: middle;	
}
.notificaciones div.icono-menu span #dab{	
	display: inline;
	font-size: 12px;
	vertical-align: middle;	
}


.notificaciones div.icono-menu  i{	
	display: inline;
	font-size: 1em;
	vertical-align: middle;	
	/*padding-top: 10px;*/
}
.notificaciones div.icono-menu  p{
	display: inline;
	vertical-align: middle;
	/*font-size: 1.3em;*/
	font-size: 12px;
	color: white;
	/*margin-top: 20px;	*/
	font-family: 'raleway', sans-serif;
	font-weight: bold;
}
div.icono-menu:hover {
	border-top: 6px solid #FF4081;
	/*border-bottom: 6px solid #FF4081;*/
	cursor: pointer;	
	transition: all 0.5s linear 0.2s;
	/*background: rgba(232,78,122,0.5);*/

}

@media only screen and (max-width: 1200px) {
    .notificaciones div.icono-menu  p{
    	display: none;
    }
}

.sub-menu {
  display: none;
}

.eliminar{
	color: #F4543C;
}
.editar{
	color: #449D44;
}
.ver{
	color: #31B0D5;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.col-margins{
  margin: 10px;
}
.informacion {
	position: relative; /*Desplazamos a partir de la esquina superior izquierda*/	
	top: 12px;
	left: -40px;
	zoom: 1;
	filter: alpha(opacity=0); /*Opacidad Para IE */
	opacity: 0; /*Inicialmente transparente */	
	color: white;
	font-weight: bold;
	-moz-transition:all ease .8s; /*Aplicamos una ligera transición*/
	-webkit-transition:all ease .8s ;
	transition:all ease .8s;	
	text-decoration: none;
}
#informacion:hover .informacion{
	filter: alpha(opacity=80);
	opacity: .8; 
	text-decoration: none;
}
#informacion{
	text-decoration: none;
}
#noti{
	color: black;
}
@media(max-width:770px)
{
	#menuas{
		display: none;
	}
}

/*estilo para el autocomplete*/
.ui-autocomplete {
    background: white;
    border-radius: 0px;
    list-style: none;
}
.card{
	border:1px  solid black;
	border-radius: 5px;	
	max-width: 500px;
}
.card .card-head{
	border-bottom:1px solid black;
	padding: 10px;
	background: #AFCCFF;
}
.card .card-head .card-head-title{
	font-weight: bold;
}
.card .card-footer{
	border-top: 1px solid black;
	margin-top: 10px;
	padding: 10px;
	background: #CBD9F2;
}
.card .card-content{
	padding: 10px;
}


.formulario {
  /* --------------------------------------- */
  /* ----- Radio Button */
  /* --------------------------------------- */
  /* --------------------------------------- */
  /* ----- Checkbox */
  /* --------------------------------------- */ }
  .formulario h2 {
    font-size: 16px;
    color: #001F3F;
    margin-bottom: 20px;
    margin-left: 20px; }
  .formulario > div {
    padding: 20px 0;
    /*border-bottom: 1px solid #ccc; */
}
  .formulario .radio label,
  .formulario .checkbox label {
    display: inline-block;
    cursor: pointer;
    color: #FF4136;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1.4em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 	
	font-family: 'Roboto', sans-serif;}
    .formulario .radio label:hover,
    .formulario .checkbox label:hover {
      background: rgba(255, 65, 54, 0.1); 
  	font-family: 'Roboto', sans-serif;}
    .formulario .radio label:before,
    .formulario .checkbox label:before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      position: absolute;
      left: 15px;
      border-radius: 50%;
      background: none;
      /*border: 3px solid #FF4136; */
  }
  .formulario input[type="radio"] {
    display: none; }
    .formulario input[type="radio"]:checked + label:before {
      display: none; }
    .formulario input[type="radio"]:checked + label {
      padding: 5px 15px;
      background: #FF4136;
      border-radius: 2px;
      color: #fff; }
  .formulario .checkbox label:before {
    border-radius: 3px; }
  .formulario .checkbox input[type="checkbox"] {
    display: none; }
    .formulario .checkbox input[type="checkbox"]:checked + label:before {
      display: none; }
    .formulario .checkbox input[type="checkbox"]:checked + label {
      background: #FF4136;
      color: #fff;
      padding: 5px 15px; }

      	span.yellow {
		 	 background: #03A9F4;
		  	border-radius: 0.9em;
		  	-moz-border-radius: 0.9em;
		  	-webkit-border-radius: 0.9em;
			color: #ffffff;
		  	display: inline-block;
		  	font-weight: bold;
		  	line-height: 1.6em;
			margin-right: 17px;
		  	text-align: center;
		  	width: 1.6em; 
		  	font-size: 4em;
		}
		span.yellow p{

			font-size: 15px;
		}

